RACK_SESSION_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

API_APP_ENV=development

MAILER_ADDRESS=smtp.server.com
MAILER_DOMAIN=domain.com
MAILER_USERNAME=username
MAILER_PASSWORD=password
MAILER_HOST=domain.com
MAILER_PORT=25

ADMIN_USERNAME=username
ADMIN_PASSWORD=password

APPSIGNAL_PUSH_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
APPSIGNAL_APP_NAME=protectedplanet-api
APPSIGNAL_LOG_PATH=/var/log/appsignal/protectedplanet-api.log
APPSIGNAL_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Database
POSTGRES_HOST= 
POSTGRES_PORT= 
POSTGRES_DBNAME= 
POSTGRES_TEST_DBNAME= 
POSTGRES_USER=
POSTGRES_PASSWORD=


# For production
# PUMA_MIN_THREADS=1
# PUMA_MAX_THREADS=5