<section class="hero">
  <div class="hero__top hero__top--admin">
    <h1 class="hero__title hero__title--article hero__title--admin"><%= title %></h1>
    <%= erb :'shared/admin/hero/_navigation' %>
  </div>
</section>
