<section class="hero">
  <div class="hero__top hero__top--no-padding">
    <h1 class="hero__title hero__title--article"><%= title %></h1>
    <%= erb :'shared/admin/hero/_navigation' %>
  </div>
</section>
