<div class="article__paragraph">
  <%= erb :'shared/admin/hero/_export_csv' %>
  <span class="divider"></span>
  <%= erb :'shared/admin/hero/_active_users' %>
  <span class="divider"></span>
  <%= erb :'shared/admin/hero/_inactive_users' %>
  <span class="divider"></span>
  <%= erb :'shared/admin/hero/_archived_users' %>
  <span class="divider"></span>
  <%= erb :'shared/admin/hero/_sign_out' %>
</div>
