<fieldset class="<%= ::ApiRequestProtection::HONEYPOT_CSS_CLASS %>" aria-hidden="true">
  <label for="<%= ::ApiRequestProtection::HONEYPOT_FIELD %>"><%= ::ApiRequestProtection::HONEYPOT_LABEL %></label>
  <input type="text" name="<%= ::ApiRequestProtection::HONEYPOT_FIELD %>" id="<%= ::ApiRequestProtection::HONEYPOT_FIELD %>" tabindex="-1" autocomplete="nope">
</fieldset>
