<div class="container--profile container--push-bottom">
  <div class="breadcrumbs">
    <a class="breadcrumbs__link" href="http://www.protectedplanet.net">Home</a>
    >
    <a class="breadcrumbs__link" href="/">Protected Planet API</a>
    >
    Documentation
  </div>

  <%= erb "documentation/v4/_documentation".to_sym %>
</div>
