<!DOCTYPE html>
<html>
<head>
  <title>ProtectedPlanet API</title>

  <!-- IE stuff -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!--[if lt IE 9]>
    <![endif]-->
  <!-- IE stuff -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/protectedplanet-frontend/dist/style/main.css" rel="stylesheet">
  <link href="/custom.css" rel="stylesheet">
</head>

<body>
  <main class="body-container">
  <header>
    <nav class="navbar">
      <div class="navbar__element navbar__element--bigger">
        <a href="http://www.protectedplanet.net" class="protectedplanet-logo">protected planet</a>
      </div>

      <div class="navbar__element navbar__element--right"><a href="http://www.protectedplanet.net/c/about">About</a></div>
      <div class="navbar__element navbar__element--right">
        <a href="http://www.protectedplanet.net/resources">
          Resources <i class="fa fa-chevron-down"></i>
          </button>
      </div>
      <div class="navbar__element navbar__element--right"><a href="http://www.protectedplanet.net/c/terms-and-conditions">Terms & Conditions</a></div>
      <div class="navbar__element navbar__element--right js-thematic-areas js-navbar-actionable">
        <button class="js-trigger">
          Thematic Areas <i class="fa fa-chevron-down"></i>
        </button>

        <div class="u-hide js-target dropdown">
          <div class="dropdown__inner">
            <a class="dropdown__element" href="http://wcmc.io/WDPA_Manual">WDPA</a>
            <a class="dropdown__element" href="http://parcc.protectedplanet.net/">PARCC</a>
            <a class="dropdown__element" href="http://www.iccaregistry.org">ICCA</a>
            <a class="dropdown__element" href="http://wcmc.io/pame-report">PAME</a>
          </div>
        </div>
      </div>

      <div class="navbar__element navbar__element--with-separator navbar__element--right">
        <a href="http://www.protectedplanet.net" class="link-with-icon link-with-icon--no-color"> <i class="fa fa-search"></i> Search</a>
      </div>
    </nav>

  </header>

  <%= yield %>
  </main>

  <footer class="footer">
    <p class="footer__element">
    <i class="fa fa-copyright"></i> ProtectedPlanet 2014-2016. All rights reserved
    </p>

    <div class="footer__element footer__element--right">
      <a class="iucn-logo" href="http://www.iucn.org"></a>
      <a class="unepwcmc-logo" href="http://www.unep-wcmc.org"></a>
    </div>
    <div class="footer__element footer__element--right footer__element--no-push footer__element--with-separator">
      <a class="uservoice uservoice--no-color uservoice--bold" href="mailto:protectedareas@unep-wcmc.org" data-uv-trigger>
        <i class="uservoice__icon fa fa-comment"></i>Send Feedback
      </a>
    </div>
  </footer>

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</body>
</html>
