<!DOCTYPE html>
<html>
<head>
  <title>ProtectedPlanet API</title>

  <!-- IE stuff -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!--[if lt IE 9]>
    <![endif]-->
  <!-- IE stuff -->

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/protectedplanet-frontend/dist/style/main.css" rel="stylesheet">
  <link href="/custom.css" rel="stylesheet">
</head>

<body>
  <main class="body-container">
  <header>
    <nav class="navbar">
      
      <div class="navbar__element--bigger">
        <a class="protectedplanet-logo" href="http://www.protectedplanet.net">
          protected planet<sup class="protectedplanet-logo__registered">®</sup>
        </a>
      </div>
      
      <div ontouchend="this.onclick=touchHoverFix" class="burger navbar__burger is-closed js-trigger js-switch">
        <span class="burger-icon navbar__burger-icon"></span>
      </div>

      <div class="navbar__menu u-hide js-target">
        <a class="navbar__element" href="http://www.protectedplanet.net/c/about">About</a>

        <a class="navbar__element" href="http://www.protectedplanet.net/resources?category_id=1">Resources</a>

        <a class="navbar__element" href="http://www.protectedplanet.net/c/terms-and-conditions">Terms & Conditions</a>

        <div class="navbar__element navbar__element--with-separator">
          <a href="http://www.protectedplanet.net" class="link-with-icon link-with-icon--no-color link-with-icon--no-underline">
            <i class="fa fa-search link-with-icon__icon"></i> Search
          </a>
        </div>
      </div>
    </nav>

  </header>

  <%= yield %>
  </main>

  <footer class="footer">
    <p class="footer__element">
      <i class="fa fa-copyright"></i> ProtectedPlanet 2014-<%= Date.today.year %>. All rights reserved
    </p>

    <div class="footer__element footer__element--logos flex-row align-items-center">
      <a class="unepwcmc-logo" href="http://www.unep-wcmc.org"></a>
      <a class="iucn-logo" href="http://www.iucn.org"></a>
    
      <div class="u-only-desktop footer__element footer__element--with-separator">
        <a class="uservoice uservoice--no-color uservoice--bold" href="mailto:protectedareas@unep-wcmc.org" data-uv-trigger>
          <i class="uservoice__icon fa fa-comment"></i>Send Feedback
        </a>
      </div>
    </div>
  </footer>

  <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <script src="/custom.js"></script>

  <% if settings.environment == :production %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12920389-4', 'auto');
      ga('send', 'pageview');
    </script>
  <% end %>
</body>
</html>
