<div class="fullscreen-message">
  <p class="link-with-icon fullscreen-message__header">
    <i class="fa fa-warning fa-2x link-with-icon__icon link-with-icon__icon--above"></i>
    We could not process your request.
  </p>
  <p class="fullscreen-message__body">
    Please review your details and try again.
  </p>
  <p class="fullscreen-message__body">
    You can return to the <a class="link-with-icon link-with-icon--inherit" href="/request">request form</a> and submit again.
  </p>
</div>
