<!DOCTYPE html>
<html>
  <head>
    <title>The Protected Planet API moves to HTTPS</title>
  </head>
  <body>
    <div style="font-weight: 500; font-size: 1.2rem; line-height: 50px; padding-left: 20px; background-color: #71a32b;">
      <img style="float: left; height: 30px; margin-right: 10px; margin-top: 11px;" src="http://api.protectedplanet.net/protectedplanet-frontend/dist/style/images/hand-solo.png" alt="">
      <a style="color: white; display: block; text-decoration: none;" href="http://www.protectedplanet.net">protected planet</a>
    </div>

    <h1 style="text-align:center;margin:1.5em 0;letter-spacing:2px; font-weight:400;">The Protected Planet API moves to HTTPS</h1>

    <p style="line-height:1.75;margin-bottom:1.75em">
      The Protected Planet API has changed protocol, moving to HTTPS for
      increased security and reliability. If you are currently using the API,
      or are planning to consume it, please change your procotol requests from <code style="background-color:#f7f7f7;padding:4px;border-radius:2px;">http</code> to <code style="background-color:#f7f7f7;padding:4px;border-radius:2px;">https</code>.
    </p>

    <p style="line-height:1.75;margin-bottom:1.75em">
      For any requests or clarifications, feel free to <a href="mailto:protectedareas@unep-wcmc.org">contact us.</a>
    </p>

    <p style="line-height:1.75;margin-bottom:1.75em">The Protected Planet team</p>

    <div style="height: 250px"></div>
    <div style="font-weight: 500; font-size: 1.2rem; height: 50px; padding-right: 20px; background-color: #71a32b;">
      <img style="float: right; height: 30px; margin-top: 11px;" src="http://api.protectedplanet.net/protectedplanet-frontend/dist/style/images/UNEP-WCMC_logo@2x.png" alt="">
      <img style="float: right; height: 30px; margin-right: 20px; margin-top: 11px;" src="http://api.protectedplanet.net/protectedplanet-frontend/dist/style/images/IUCN_logo@2x.png" alt="">
    </div>
  </body>
</html>
