<!DOCTYPE html>
<html>
  <head>
    <title>Your Protected Planet API token</title>
  </head>
  <body>
    <div style="font-weight: 500; font-size: 1.2rem; line-height: 50px; padding-left: 20px; background-color: #71a32b;">
      <img style="float: left; height: 30px; margin-right: 10px; margin-top: 11px;" src="http://api.protectedplanet.net/protectedplanet-frontend/dist/style/images/hand-solo.png" alt="">
      <a style="color: white; display: block; text-decoration: none;" href="http://www.protectedplanet.net">protected planet</a>
    </div>

    <h1 style="text-align:center;margin:1.5em 0;letter-spacing:2px; font-weight:400;">Your Protected Planet API token</h1>

    <p style="line-height:1.75;margin-bottom:1.75em">
      Hi <%= api_user.full_name %>, your request for a new Protected Planet API token has been accepted. Your new token is:
    </p>

    <p style="text-align: center; line-height:1.75;margin-bottom:1.75em">
      <strong><%= api_user.token %></strong>
    </p>

    <p style="line-height:1.75;margin-bottom:1.75em">
      Before using the API, be sure to visit the <a style="color: #71a32b; text-decoration: none;" href="<%= documentation_url %>">Protected Planet documentation</a>
    </p>

    <p style="line-height:1.75;margin-bottom:1.75em">The Protected Planet team</p>

    <div style="height: 200px"></div>
    <div style="font-weight: 500; font-size: 1.2rem; height: 50px; padding-right: 20px; background-color: #71a32b;">
      <img style="float: right; height: 30px; margin-top: 11px;" src="http://api.protectedplanet.net/protectedplanet-frontend/dist/style/images/UNEP-WCMC_logo@2x.png" alt="">
      <img style="float: right; height: 30px; margin-right: 20px; margin-top: 11px;" src="http://api.protectedplanet.net/protectedplanet-frontend/dist/style/images/IUCN_logo@2x.png" alt="">
    </div>
  </body>
</html>
