<p>
  Hi <%= api_user.full_name %>,

  your request for a new Protected Planet API token has been accepted. Your new token is:
</p>

<p><strong><%= api_user.token %></strong></p>

<p>Before using the API, be sure to visit the <a href="<%= documentation_url %>">Protected Planet documentation</a></p>
